body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
	color: #5a5a5a;
	font-weight: 300;
	font-style: italic;
}

hr{
	/* border: 0; */
	height: 1px;
	background: #ed145b;
}

p{
	font-size: 14px;
	color: #808080;
	font-weight: 300;
}

.no-padding{
	padding: 0;
}